@import url(../vendor/normalize.css);

.page {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: #2A2C2F;
}

.header {
  display: grid;
  grid-template-columns: auto 30px 29px;
  justify-items: end;
  align-items: end;
  gap: 18px;
  margin: 0;
  padding: 28px 48px 0;
  max-width: 1184px;
}

.header__logo {
  justify-self: start;
  align-self: start;
}

.header__lang-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}

.header__lang-link_active {
  text-decoration: underline;
}
/*-----------Новая секция------------*/
.lead {
  margin: 0;
  padding: 56px 148px 0;
  color: #FFFFFF;
}

.lead__title {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}

.lead__subtitle {
  margin: 0;
  padding: 0;
  padding: 32px auto 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.lead__image {
  padding: 64px 148px 0;
}

.f1 {
  width: 984px;
  height: 615px;
}

.lead__caption {
  
}
/*-----------Новая секция------------*/
.intro {
  color: #FFFFFF;
}

.intro__title {
  
}

.intro__text {
  
}

.intro__list {
  
}
/*-----------Новая секция------------*/
.photo-grid {
  color: #FFFFFF;
}

.photo-grid__item {
  
}
/*-----------Новая секция------------*/
.places {
  color: #FFFFFF;
}

.place {
  
}

.place__title {
  
}

.place__image {
  
}

.place__website {
  
}

.place__website_url-heading {
  
}

.place__website_link {
  
}

.place__paragraph {
  
}
/*-----------Новая секция------------*/
.cover {
  color: #FFFFFF;
}

.cover__title {
  
}

.cover__subtitle {
  
}

.cover__overlay {
  
}

.cover__background {
  
}
/*-----------Новая секция------------*/
.footer {
  color: #FFFFFF;
}

.footer__link {
  
}

.footer__copyright {
  
}
