@import url(../vendor/normalize.css);

.page {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
  text-rendering: optimizeLegibility; 
  background: #2A2C2F;
}

.header {
  display: grid;
  grid-template-columns: auto 30px 29px;
  justify-items: end;
  align-items: end;
  gap: 18px;
  margin: 28px auto 0;
  padding: 0;
  width: calc(1184 / 1280 * 100%);
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(928 / 1024 * 100%);
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(720 / 768 * 100%);
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: calc(288 / 320 * 100%);
  }
}

.header__logo {
  justify-self: start;
  align-self: start;
}

.header__lang-link {
  margin-bottom: 5px;
  max-width: 30px;
  width: 100%;
  height: 28px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFF;
  text-decoration: none;
}

.header__lang-link_active {
  border-bottom: 1px solid #FFF;
}

.lead {
  margin: 57px auto 0;
  padding: 0;
  width: calc(984 / 1280 * 100%);
  color: #FFF;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: calc(928 / 1024 * 100%);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: calc(768 / 768 * 100%);
  }
}

@media screen and (max-width: 320px) {
  .lead {
    width: calc(320 / 320 * 100%);
  }
}


.lead__title {
  margin: 0 auto;
  padding: 0;
  max-width: 720px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFF;
}

.lead__subtitle {
  margin: 0 auto;
  padding: 0;
  padding-top: 32px;
  max-width: 640px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFF;
}

.lead__image {
  margin: 0 auto;
  padding: 0;
  padding-top: 64px;
  width: 100%;
}

.lead__caption {
  margin: 0;
  padding: 0;
  padding-top: 3px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFF;
}

.intro {
  margin: 0;
  padding: 0;
  margin-top: 92px;
  margin-left: 148px;
  max-width: 690px;
  width: 100%;
  color: #FFF;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 690px;
    margin-top: 92px;
    margin-left: 48px;
  }
}

.intro__title {
  margin: 0;
  padding: 0;
  max-width: 690px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFF;
}

.intro__text {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  max-width: 690px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #FFF;
}

.intro__list {
  margin: 0;
  padding: 0;
  padding-top: 33px;
  max-width: 690px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #FFF;
}

.intro__list_fact {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.normal-font {
  font-weight: 400;
}

.photo-grid {
  margin: 0 auto;
  padding: 92px 0 0;
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 16px;
  max-width: calc(284px * 4 + 16px * 3);
  color: #FFF;
}

.photo-grid__item {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.places {
  margin: 0 auto;
  padding: 12px 148px 0;
  color: #FFF;
}

.place {
  padding-top: 80px;
  display: grid;
  grid-template-columns: auto 484px;
  grid-template-rows: repeat(3, auto);
  column-gap: 40px;
  grid-auto-flow: column;
}

.place__title {
  margin: 0;
  padding: 0;
  padding-bottom: 48px;
  justify-self: start;
  align-self: start;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
}

.place__image {
  grid-row: span 2;
  width: 460px;
  height: 460px;
}

.place__website {
  margin: 0;
  padding: 0;
  padding-bottom: 47px;
  justify-self: start;
  align-self: end;
}

.place__website_url-heading {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #AAA;
}

.place__website_link {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFF;
}

.place__paragraph {
  margin: 0;
  padding: 0;
  margin-top: -2px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  padding-bottom: 26px;
  color: #FFF;
}

.cover {
  background-image: url(../images/cover-trains.jpg);
  width: 1184px;
  height: 740px;
  margin: 0 auto;
  margin-top: 92px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: #FFF;
}

.cover::after {
  content: '';
  width: 1184px;
  height: 740px;
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  text-decoration: none;
  color: #FFF;
}

.cover:hover::after {
  opacity: 0.7;
  transition: 1s;
}

.cover__title {
  max-width: 560px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 245px calc(360px - 96px) 32px;
  color: #FFF;
  z-index: 1;
}

.cover__subtitle {
  margin: 0;
  padding: 0;
  width: 360px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFF;
  z-index: 1;
}

.footer {
  display: grid;
  grid-template-columns: 50px 57px 94px 86px 106px auto;
  gap: 18px;
  width: 1184px;
  margin: 0 auto;
  padding: 92px 0 24px;
  color: #FFF;
}

.footer__link {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #FFFFFF;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  justify-self: end;
  align-self: end;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
}
