.cover__title {
  position: relative;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0 auto;
  color: #FFF;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    max-width: calc(560 / 1024 * 100%);
    min-height: 152px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    max-width: calc(560 / 480 * 100%);
    min-height: 152px;
  }
}

@media screen and (max-width: 620px) {
  .cover__title {
    max-width: calc(288 / 320 * 100%);
    min-height: 70px;
    font-size: 32px;
    line-height: 35px;
    padding-top: 24px;
  }
}